i.bed_icon.fa.fa-bed {
    width: 51px;
    height: 51px;
    text-align: center;
    line-height: 50px;
    font-size: 1.8em;
    color: white;
    margin: 10px;
}

.button-div {
    padding-top: 20px;
}

i#status_color_Vacant {
    background: #64c17c;
}

select#dd_form_control {
    right: 17px;
}

i#status_color_Occupied {
    background: #c1c2c1;
}

i#status_color_Blocked {
    background: #d75e3d;
}

i#status_color_Maintenance {
    background: #71badf;
}

section#dd-head {
    margin-bottom: 10px;
}

.labels {
    padding: 11px !important;
    font-size: 75% !important;
    font-weight: bold !important;
    white-space: nowrap !important;
}

.popover-content {
    padding: 9px 14px;
    width: 250px;
}

section#panel-head {
    padding: 20px;
    padding-bottom: 35px;
}

span#available {
    float: right;
}

span#occupied {
    float: right;
    padding-right: 20px;
}

i#occupied {
    background: #f18d6c;
}

.bed {
    text-align: justify;
    background: #f7f7f7;
    padding: 20px;
}
