<div class="col-sm-2 col-md-1 my_bed change-project" data-service-unit="{{ bed.healthcare_service_unit_name }}"
    data-service-unit-name="{{ bed.name }}" data-unit-type="{{ bed.service_unit_type }}" data-occupancy="{{ bed.status }}">
    <div class="available">
        <div data-toggle="popover" data-placement="auto" data-content="Loading ...">
            <a data-toggle="tooltip" title={{bed.status}}>
                <i id="status_color_{{bed.status}}" class="bed_icon fa fa-bed"></i>
                <div class="label">{{bed.healthcare_service_unit_name}}</div>
            </a>
        </div>
    </div>
</div>