.a {
  text-align: left;
}

.app_table{
	border: 2px solid #f2f1f0;
	vertical-align: middle;
	border-radius: 60px ;
}

.rounded_app_details{
	border-radius: 10px;
	padding-bottom: -11px;
	border: 2px solid #f2f1f0;
}

.rounded_inner_upper{
	border-radius: 10px 10px 0px 0px;
	margin: auto;
	padding: 5px;
	border: 1px solid #f2f1f0;
}
.rounded_inner_lower{
	border-radius: 0px 0px 10px 10px;
	margin: auto;
	padding: 5px;
	border: 1px solid #f2f1f0;
}

.ess_btn{
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f2f1f0;
}

.p_btn, .c_btn{
    display: inline-block;
    padding: 2px 10px;
		margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.4285714;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-color: #f2f1f0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.p_btn:hover, .c_btn:hover, .ess_btn:hover{
	background-color: #D3D3D3;
}

.start_cls{
		margin-bottom: 2rem;
}

.end_cls{
		margin-bottom: 8rem;
}

.list_margin {
	margin-top: -1rem;
	margin-bottom: 5rem;
}
.rounded_app_details {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-bottom: 0.5rem;
	vertical-align: middle;
}
.layout-main-section {
overflow: auto;
}
.div_lr_padding{
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
	align:center;
}
.col_wrapper {
	clear:inherit;
	float:middle;
	overflow: auto;
	align:center;
	vertical-align:middle;
}
.col_row {
	clear:inherit;
	float:middle;
	align:center;
	overflow: auto;
	vertical-align:middle;
	padding-top: 5px;
}

.tooltip-inner {
    white-space: pre-line;
}