<div class="app-listing padding media" data-title="{{ data.name }}">
		<div class="col-sm-12">
			<div class="col-sm-3"><a  href="#Form/Sales Invoice/{{ data.name }}">{{ data.name }}</a></div>
			<div class="col-sm-3">{{ data.patient_name }}</div>
      <div class="col-sm-2">{{ data.posting_date }}</div>
      <div class="col-sm-2">{{ data.ref_practitioner }}</div>
      <div class="col-sm-1">{{ data.status }}</div>
      <button class="col-sm-1 btn-default make-delivery-note" data-name="{{ data.name }}">{{ __("Delivery Note") }}</button>
	      </div></div>
