time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 5em;
  height: 6em;
  background-color: #fff;
  overflow: hidden;
}
time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
time.icon strong
{
  /* day-saturday */
  font-size: .8em;
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #8d99a6;
  background-color: #F5F5F5;
}
time.icon em
{
  /* month september */
  font-size: .7em;
  position: absolute;
  bottom: 0em;
  color: #8d99a6;
}
time.icon span
{
  /* month date number */
  font-size: 2.6em;
  letter-spacing: -0.05em;
  padding-top: 0.4em;
  color: #8d99a6;
}

.appointment_slots
{
  height: 300px;
  overflow-y: auto;
}

.height_min {
min-height: 80px;
}
