<div class="app-listing padding media" data-title="{{ data.name }}">
	<div class="col-sm-12 rounded_app_details">
		<div class="col-sm-3" align="left">
			<div class="col-sm-12">
				<div class="col-sm-10">
					<a  href="#Form/Patient Appointment/{{ data.name }}">{{ data.name }}</a> <br/>{{ data.appointment_type }}
					{% if data.procedure_template %}
						<br/>{{ data.procedure_template }}
					{% endif %}
					{% if data.service_unit && !data.service_unit_filter %}
						<br/>{{ data.service_unit }}
					{% endif %}
				</div>
				<div class="col-sm-2" align="center">
					{% if data.completed_session || data.balance_sessions %}
						<br/>{{ data.balance_sessions }}/{{ data.completed_session+data.balance_sessions }}
					{% endif %}
				</div>
			</div>
			{% if data.notes %}
							<br/> &nbsp;&nbsp;&nbsp;Notes : {{ data.notes }}

			{% endif %}
		</div>
		<div class="col-sm-1"  align="center">
			{% if !data.date_filter %}
				<div>
				{{ frappe.datetime.obj_to_user(data.appointment_date) }}
				</div>
			{% endif %}
			<div>
			{{ data.appointment_time }}
			</div>
		</div>
		<div class="col-sm-3" align="center">
			{% if !data.patient_filter %}
				{{ data.patient_name }}<br/>
			{% endif %}
			{% if data.healthcare_practitioner_name  && !data.practitioner_filter %}
				<i class="fas fa-user-md" style="color:#8c8b8b"></i>&nbsp;&nbsp;{{ data.healthcare_practitioner_name }}
			{% endif %}
		</div>
		<div class="col-sm-3"  align="center">
			<div class="col-sm-12"  align="center">
		    {{ data.status }}
			</div>
			<div class="col-sm-12"  align="center">
				{% if data.status != "Arrived" && data.status != "In Progress" && data.status != "Confirmed" && data.status != "Checked Out" && data.status != "Checked Out" %}
					{% if data.status == "Scheduled" %}
						<button class="ess_btn open" title="{{ __(`Open`) }}" data-name="{{ data.name }}"><i class="fas fa-folder-open"></i></button>
						<button class="ess_btn cancel" title="{{ __(`Cancel`) }}" data-name="{{ data.name }}"><i class="fas fa-ban"></i></button>
						<button class="ess_btn reschedule" title="{{ __(`Reschedule`) }}" data-name="{{ data.name }}"
						data-department="{{ data.department }}" data-practitioner="{{ data.practitioner }}"
						data-appointment-date="{{ data.appointment_date }}"><i class="fas fa-redo"></i></button>
					{% endif %}
					{% if data.status == "Open" %}
						<button class="ess_btn arrived" title="{{ __(`Arrived`) }}" data-name="{{ data.name }}"><i class="fas fa-check-square"></i></button>
						<button class="ess_btn cancel" title="{{ __(`Cancel`) }}" data-name="{{ data.name }}"><i class="fas fa-ban"></i></button>
						<button class="ess_btn reschedule" title="{{ __(`Reschedule`) }}" data-name="{{ data.name }}"
						data-department="{{ data.department }}" data-practitioner="{{ data.practitioner }}"
						data-appointment-date="{{ data.appointment_date }}"><i class="fas fa-redo"></i></button>
					{% endif %}
					{% if data.status == "Closed" %}
						<!-- <button class="ess_btn new_appointment" title="{{ __(`New`) }}" data-name="{{ data.name }}"><i class="fas fa-plus"></i></button> -->
						<button class="ess_btn checkout" title="{{ __(`Check Out`) }}" data-name="{{ data.name }}"><i class="fas fa-sign-out-alt"></i></button>
					{% endif %}
					{% if data.status == "Pending" %}
						<button class="ess_btn arrived" title="{{ __(`Arrived`) }}" data-name="{{ data.name }}"><i class="fas fa-check-square"></i></button>
						<button class="ess_btn noshow" title="{{ __(`No Show`) }}" data-name="{{ data.name }}"><i class="fas fa-eye-slash"></i></button>
						<button class="ess_btn reschedule" title="{{ __(`Reschedule`) }}" data-name="{{ data.name }}"
						data-department="{{ data.department }}" data-practitioner="{{ data.practitioner }}"
						data-appointment-date="{{ data.appointment_date }}"><i class="fas fa-redo"></i></button>
					{% endif %}
					{% if data.status == "Cancelled" %}
						<!-- <button class="ess_btn new_appointment" title="{{ __(`New`) }}" data-name="{{ data.name }}"><i class="fas fa-plus"></i></button> -->
					{% endif %}
					{% if data.status == "No Show" %}
						<!-- <button class="ess_btn new_appointment" title="{{ __(`New`) }}" data-name="{{ data.name }}"><i class="fas fa-plus"></i></button> -->
					{% endif %}
				{% endif %}
			</div>
		</div>

		<div class="col-sm-2" align="right">
			<div class="col-sm-12 rounded_inner" align="center">

				{% if data.status == "Arrived" %}
					<button class="ess_btn record-vitals" title="{{ __(`Record Vitals`) }}" data-patient="{{ data.patient }}"><i class="fas fa-notes-medical"></i></button>
					{% if data.procedure_template %}
							<button class="ess_btn start-procedure" title="{{ __(`Create Procedure`) }}" data-name="{{ data.name }}"><i class="fas fa-plus-square"></i></button>
						{% else %}
							<button class="ess_btn attend" title="{{ __(`Attend`) }}" data-name="{{ data.name }}"><i class="fas fa-stethoscope"></i></button>
					{% endif %}
				{% endif %}
				{% if data.status == "In Progress" %}
					<button class="ess_btn record-vitals" title="{{ __(`Record Vitals`) }}" data-patient="{{ data.patient }}"><i class="fas fa-notes-medical"></i></button>
					{% if data.procedure_template %}
							<button class="ess_btn update-procedure" title="{{ __(`View`) }}" data-name="{{ data.name }}"><i class="fas fa-eye"></i></button>
						{% else %}
							<button class="ess_btn update-encounter" title="{{ __(`View`) }}" data-name="{{ data.name }}"><i class="fas fa-eye"></i></button>
					{% endif %}
				{% endif %}
				{% if data.status != "In Progress" && data.status != "Arrived" %}
						<button class="ess_btn" title="{{ __(`Record Vitals`) }}" style="color: #D3CED0;"><i class="fas fa-notes-medical"></i></button>
						<button class="ess_btn" title="{{ __(`Attend`) }}" data-name="{{ data.name }}" style="color: #D3CED0;"><i class="fas fa-stethoscope"></i></button>
				{% endif %}
					{% if data.invoiced != 1 && data.status != "Cancelled" %}
						<button class="ess_btn make-invoice" title="{{ __(`Pay`) }}" data-name="{{ data.name }}" style="color:red"><i class="fa fa-usd" style="font-size: 12px"></i></button>
					{% endif %}
					{% if data.invoiced == 1 && data.payment == __("Unpaid") && data.status != "Cancelled" %}
						<button class="ess_btn view-invoice" title="{{ __(`Pay`) }}" data-name="{{ data.name }}" style="color:orange"><i class="fa fa-usd" style="font-size: 12px"></i></button>
					{% endif %}
					{% if data.invoiced == 1 && data.payment == __("Overdue") && data.status != "Cancelled" %}
						<button class="ess_btn view-invoice" title="{{ __(`Pay`) }}" data-name="{{ data.name }}" style="color:red"><i class="fa fa-usd" style="font-size: 12px"></i></button>
					{% endif %}
					{% if data.invoiced == 1 && data.payment == __("Paid") && data.status != "Cancelled" %}
						<button class="ess_btn view-invoice" title="{{ __(`Pay`) }}" data-name="{{ data.name }}" style="color:green"><i class="fa fa-usd" style="font-size: 12px"></i></button>
					{% endif %}
		</div>
		</div>
			</div>
</div>
